.boxItem {
  margin: 20px;
  border-radius: 10px;
  border: 3px solid #FFFF;
  box-shadow: 1px 1px 1px 1px;
  text-align: justify;
  flex: 0 1 50%;
}

.boldText{
  font-weight: bold; 
}

.rightAlign{
   float: right;
  text-align: right
}

.leftAlign{
  text-align: left
}

.priceText
{
  color: orange;
  /* float: right */
  margin-left: auto;
}

.marginItem{
  margin: 30px;
}

.prodheader{     
    display: flex;
}

.clearer{
  clear: both;
}

.rowz {
 display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  flex-basis: 50%;
}

.columnz {
  display: flex;
  flex-direction: column;
  /* flex-basis: 100%;
  flex: 1; */
  flex: 0 50%;
}
