.form-filter-container,
.product-list-container {
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.form-filter .MuiFormControl-root {
  width: 100%;
}
.form-filter .MuiInputBase-input {
  background-color: #fff;
  border-radius: 4px;
  color: hsl(0,0%,50%);
  font-size: 15px;
  padding: 10px;
  line-height: 1.5;
}
.form-filter label {
  color: rgba(255,255,255,.7);
  display: inline-block;
  font-weight: 500;
  margin-bottom: .25em;
  margin-left: .5em;
}
.MuiCardMedia-root {
  height: 100%;
  min-height: 160px;
  width: 100%;
}
.product-styles-wrapper {
  padding: 1em 0;
}
.product-style:not(:last-child) {
  margin-right: .5em;
}
.product-price {
  font-weight: 700!important;
}
.shipping-time > * {
  display: inline-block;
  vertical-align: middle;
}
.duration {
  color: #999;
  margin-left: .5em;
}